.cabecalho_menu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}

a {
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}