.container_cabecalho {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.cabecalho_menu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}

a {
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.titulo {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  /* trocar a margin de 0 para auto */
  margin: 2rem auto;  
  /* background-color: blueviolet; */
}

.titulo span {
  font-size: 55px;
  text-align: center;

}

.titulo hr {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: #AD271B;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}


.box_busca {
  position: relative;
}

.icone_lupa {
  height: 24px;
  position: absolute;
  left: 9px;
  top: 9px;
  fill: #ffffff;
  cursor: pointer;
}

.icone_seta {
  height: 50px;
  cursor: pointer;
}

.logo {
  height: 100px;
}



.campo_busca {
  width: 500px;
  height: 42px;
  border-radius: 30px;
  border: solid 1px #cccccc;
  padding-left: 35px;
  font-family: "Italiana", sans-serif;
  font-size: 20px;
}

.icone_fundo{
  background-image: url("../../assets/Copilot_20250820_142656\ 2.png");
}

/* BANNER
.banner {
  margin-top: 40px;
  margin-bottom: 30px;
}

.banner img {
  width: 100%;
  max-height: 350px;
} */


/* Cards */
.cards {
    display: flex;
    gap: 10%;
    justify-content: center;
    font-size: 10px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

  h2{
    font-size: 40px;
    color: #60340C;
    display: flex;
  }

/* .card_produto {
  top: 80px;
    width: 348px;
    height: 500px;
    background-color: #F0E6D5;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 100px;
    box-shadow: 0 4px 4px 2px #00000025;
  font-family: "Italiana", sans-serif;

}

.cards img {
    width: 100%;
    height: 242px;
}

.cards p,
.cards span {
    font-size: 30px;
    width: 90%;
    
}

.secao_cards {
  margin-top: 20px; 
  width: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    margin-top: 20px;
    
} */ */


  


/* RODAPE */

.rodape {
  width: 100%;
  height: 60px;
  background-color: #AD271B;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 30px;
  font-family: "Italianno", cursive;
  color: #ffffff;
  text-align: center;

}

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: transform 0.5s ease-in-out
    filter 0.5s ease-in-out;
}

.whatsapp img {
  width: 80px;
  filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 10px 2px #00000025);
}

.menu_hamburguer {
  height: 50px;
  display: none;
}




/* MEDIA */
@media screen and (max-width: 600px) {

  .container_cabecalho {
    display: flex;
    justify-content: space-between;
    max-width: 300px;


  }

  .banner {
    aspect-ratio: 2.0;
    margin: 0;
    width: 100%;
    aspect-ratio: 3.48;
  }

  .icone_seta {
    width: 50px;
    height: 40px;
  }

      .logo{
    height: 90px;
      }

  .menu_barras {
    display: flex;
    width: 50px;
    height: 36px;
  }

  .rodape p {
    font-size: 27px;
  }
} 