.main_home {
  padding-top: 100px;
  padding-bottom: 50px;
}

.container_home {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

}

.imagem_fundo {
  background-image: url("../../assets/Copilot_20250820_142656\ 2.png");
  background-size: cover;
}

.secao_cards {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: transform 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

.whatsapp img {
  width: 80px;
  filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 10px 2px #00000025);
}

.rodape {
  width: 100%;
  height: 60px;
  background-color: #AD271B;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 30px;
  font-family: "Italianno", cursive;
  color: #ffffff;
  text-align: center;

}

.titulo_home {
  color: #60340C;
  display: flex;
  justify-content: center;
  font-size: 54px;
}




/* MEDIA */
@media screen and (max-width: 1050px) {
  .main_home {
    flex-direction: column;
    align-items: center;
  }

  .secao_logo {
    position: relative;
    margin-top: 50px;
  }

  .secao_logo svg {
    position: absolute;
    top: 230px;
    background-color: #FFD188;
    padding: 10px 40px 5px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px #00000025;
  }

  .secao_logo img {
    width: 150px;
  }

  .secao_cards {
    width: 100%;
  }
}

