footer {
  width: 100%;
  height: 60px;
  background-color: #AD271B;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 30px;
  font-family: "Italianno", cursive;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}