.card_categorias {
    margin: 50px 0;
    width: 316px;
    height: 274px;
    text-decoration: none;
    background-color: #F0E6D5;
    border: solid 1px #60340C;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px 50px 40px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    box-shadow: 0 0 40px 2px #00000075;
    font-family: "Italianno", "cursive";


}

.secao_cards img {
    width: 276px;
    height: 184px;

}

.card_vinhos img {
    border: solid 1px #60340C;
    border-radius: 49px;
}

.img {
    display: flex;
    margin-left: 40px;


}

h2 {
    color: #715C5C;
    padding: 14px 68px 15px 100px;
}