




/* ------------------------------------------------------------ */
.card_categoria {
    margin: 50px 0;
    width: 260px;
    height: 250px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 36px;
    /* padding: 10px 10px 40px 10px; */
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 0 40px 2px #00000075;
}

.card_categoria img{
    width: 90%;
    margin-top: 10px;
}

.card_pizza{
   background-color: #F0E6D5;
}

.card_molhos{
    background-color: #F0E6D5;
}

.card_lasanhas{
    background-color: #F0E6D5;
}

.card_queijos{
        background-color: #F0E6D5;
}

.card_massas{
    background-color: #F0E6D5;
}

.card_vinhos{
    background-color: #F0E6D5;
}

.card_categoria svg:first-child {
    width: 26px;
    align-self: flex-end;
}
