* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Italianno", cursive;
}

:root{
  --corBackgroud: #ffffff;
  --corPrincipal1: #747F42;
  --corSegundaria: #AD271B;
  --corFontClara: #ffffff;
  --corFontEscura: #000000;
  --alturaRodape: 60px;
  --fontPrincipal: "italianno", cursive; 
}

body{
  background-color: var(--corBackgroud);
}
